USE [master]
GO
/****** Object:  Database [QL_NhanSuN]    Script Date: 15/07/2024 09:54:04 ******/
CREATE DATABASE [QL_NhanSuN]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_NhanSuN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_NhanSuN]
GO
/****** Object:  Table [dbo].[tbl_Deparment]    Script Date: 15/07/2024 09:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Deparment](
	[DeptId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_Deparment] PRIMARY KEY CLUSTERED 
(
	[DeptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Employee]    Script Date: 15/07/2024 09:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Gender] [nvarchar](3) NULL,
	[City] [nvarchar](20) NULL,
	[Image] [nchar](20) NULL,
	[DeptId] [int] NULL,
 CONSTRAINT [PK_tbl_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tbl_Deparment] ON 

INSERT [dbo].[tbl_Deparment] ([DeptId], [Name]) VALUES (1, N'Khoa CNTT')
INSERT [dbo].[tbl_Deparment] ([DeptId], [Name]) VALUES (2, N'Khoa Ngoại Ngữ')
INSERT [dbo].[tbl_Deparment] ([DeptId], [Name]) VALUES (3, N'Khoa Tài Chính')
SET IDENTITY_INSERT [dbo].[tbl_Deparment] OFF
SET IDENTITY_INSERT [dbo].[tbl_Employee] ON 

INSERT [dbo].[tbl_Employee] ([Id], [Name], [Gender], [City], [Image], [DeptId]) VALUES (1, N'Nguyễn Hải Yến', N'Nữ', N'Đà Lạt', N'NV1.jpg             ', 1)
INSERT [dbo].[tbl_Employee] ([Id], [Name], [Gender], [City], [Image], [DeptId]) VALUES (2, N'Trương Mạnh Hùng', N'Nam', N'TP.HCM', N'NV2.jpg             ', 1)
INSERT [dbo].[tbl_Employee] ([Id], [Name], [Gender], [City], [Image], [DeptId]) VALUES (3, N'Đinh Duy Minh', N'Nam', N'Thái Bình', N'NV1.jpg             ', 2)
SET IDENTITY_INSERT [dbo].[tbl_Employee] OFF
ALTER TABLE [dbo].[tbl_Employee]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Employee_tbl_Deparment] FOREIGN KEY([DeptId])
REFERENCES [dbo].[tbl_Deparment] ([DeptId])
GO
ALTER TABLE [dbo].[tbl_Employee] CHECK CONSTRAINT [FK_tbl_Employee_tbl_Deparment]
GO
USE [master]
GO
